*/**
!conf/**
!favicon/**

# SSL
!conf/createRootCA.sh
!conf/createSelfSigned.sh
!conf/openssl.cnf
!conf/v3.ext

# Grunt
npm-debug.log
/node_modules/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db
