*.key
*.pem
*.crt
*.srl
!bin/**
!favicon/**
!conf/server.csr.cnf
!conf/v3.ext

# Grunt
npm-debug.log
/node_modules/

# Projects
/themegrill/
/woocommerce/
/usagemonitor/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db
